<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="../../assets/Light-transparent.png" alt="Light-themed logo of the company">
            </div>
            <div class="col-7">
                <table>
                    <tr>
                        <th>Quick Links</th>
                        <th>Contact Us</th>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Analysis</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Alexandria-University - Faculty of Computers and Data Science</li>
                                <li>+20 01205637866</li>
                                <li>ahmed.gamal.abdelhakeem@gmail.com</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>