<body>
<div class="title-single-box">
    <h1 class="title-single">{{loc}}</h1>
</div>
      <div class="content slider-container">
        <div class="image slider" [style.transform]="'translateX(' + translateValue + '%)'">
          <img *ngFor="let image of img" [src]="image" alt="" class="slider-image">
        </div>
        <button class="slider-button prev" (click)="prev()"> < </button>
        <button class="slider-button next" (click)="next()"> > </button>
      </div>
      <div class="row justify-content-between">
        <div>
        <iframe [src]="safeUrl" width="550" height="350" frameborder="0" ></iframe>
        </div>
        <div class="col-md-5 col-lg-4">
          
      <div class="property-price d-flex justify-content-center foo">
        <div class="card-header-c d-flex">
          <div class="card-box-ico">
            <span></span>
          </div>
          <div class="card-title-c align-self-center">
            <h5 class="title-c">{{price|currency:'EGP '}}</h5>
          </div>
        </div>
      </div>
      <div class="property-summary">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box-d section-t4">
              <h3 class="title-d">Quick Summary</h3>
            </div>
          </div>
        </div>
        <div class="summary-list">
          <ul class="list">
            <li class="d-flex justify-content-between">
              <strong>Location:</strong>
              <span>{{loc}}</span>
            </li>
            <li class="d-flex justify-content-between">
              <strong>Property Type:</strong>
              <span>{{type}}</span>
            </li>
            <li class="d-flex justify-content-between">
              <strong>Area:</strong>
              <span>{{area}}m
                <sup>2</sup>
              </span>
            </li>
            <li class="d-flex justify-content-between">
              <strong>Beds:</strong>
              <span>{{rooms}}</span>
            </li>
            <li class="d-flex justify-content-between">
              <strong>Baths:</strong>
              <span>{{brooms}}</span>
            </li>
            <li class="d-flex justify-content-between">
              <strong>Level:</strong>
              <span>{{level}}</span>
            </li>
          </ul>
        </div>
      <div>
      </div>
      </div>
      </div>
      </div>
    </body>
    <div style="text-align: center;">
      <h5>To Contact {{seller}} <a href="" style="color: crimson; right: 0;">Click Here</a></h5>
    </div>
